########################################
# printer.cfg
# Main configuration used by Klipper
# This is the only file to be modified for
# every printer variant/SKU
# Author: Vijay Raghav Varada
# Version: 2.5
########################################

########################################
# Include .cfg Files
# Order in which files included is important
# for function overrides & references downstream
########################################

########################################
# Include Mainsail configuration
########################################
#[include mainsail.cfg]
#[include macro.cfg]
########################################
[include PRINTER_VOLTERRA_ALF.cfg]
########################################

########################################
# MCU Config
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_20001D000A51313339373836-if00
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_20001D000A51313339373836-if00
restart_method: command

########################################
# Virtual SD Card
########################################

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.55
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.077500, -0.025000, -0.172500, -0.305000
#*# 	  0.115000, 0.090000, 0.030000, -0.062500
#*# 	  0.147500, 0.137500, 0.092500, 0.062500
#*# 	  0.232500, 0.162500, 0.090000, 0.030000
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 249.98
#*# min_y = 50.0
#*# max_y = 249.98
#*#
#*# [bed_mesh p1]
#*# version = 1
#*# points =
#*# 	  0.077500, -0.025000, -0.172500, -0.305000
#*# 	  0.115000, 0.090000, 0.030000, -0.062500
#*# 	  0.147500, 0.137500, 0.092500, 0.062500
#*# 	  0.232500, 0.162500, 0.090000, 0.030000
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 249.98
#*# min_y = 50.0
#*# max_y = 249.98
